*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    
}
body{
    background: black;
    color: #fff;
}
#header{
    width: 100%;
    height: 100vh;
    background-color: #262626;
    background-size: cover;
    background-position:center;
    padding: 2rem 0;
    backdrop-filter: blur(10px);
    
    
}
.container{
    padding: 30px 10%;

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}
.logo{
    width: 140px;
    cursor: pointer;
    transition: 0.4s ease-in-out;

}
.logo:hover{
    transform: scale(1.1);
}
nav ul li{
   display: inline-block; 
   list-style: none;
   margin:10px 20px;

}
nav ul li a{
    color:hsl(133, 83%, 36%);
    text-decoration: none;
    font-size: 20px;
    position: relative;

}
nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #e21212c4;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.section{
    min-height: 100vh;
    padding: 8rem 13%;
}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7rem;
}
.home-img img{
    width: 30vw;
    border-radius: 50%;
    box-shadow: 0  0 25px color(rgb #ff000094 #008000ce);
    transition: 0.5s ease-in-out;
    padding-left: 10px 10px;
}
.home-img img:hover{
    box-shadow: 0  0 25px color(rgb #ff000094 #008000ce),
                0  0 50px color(rgb #ff000094 #008000ce),
                0  0 100px color(rgb  #ff000094 #008000ce);

}

.home header{
    margin-top: 5%;
    font-size: 80px;
    margin-bottom: 20%;
    margin-left: 2rem;
}
.header h1{
    font-size: 4rem;
    margin-top: 20px;
    text-shadow: #2ddf0e;
}
.header p{
    font-size: 1rem;  
    color: #2ddf0e;
    justify-content: center;
    text-align: center;
}
.header h1 span{
    color: #e21212c4;
    background: linear-gradient(
        270deg,
        #2ddf0e 20%,
        #e21212c4 100%
    );
    background-clip: text;
    color: transparent;
    
}

/*----------------------about-----------------------*/
#about{
    padding: 80px 0;
    color: #fff;
    background-color: black;
    
}
.row{
display: flex;
justify-content: space-between;
flex-wrap: wrap;

}
.about-col-1{
flex-basis: 35%;

}
.about-col-1 img{
 width: 100%;
 border-radius: 80px;
 color:#fff;
 border-color: #e21212c4;
 background-position-x: 100%;

}
.about-col-2{
flex-basis: 60%;



}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
    margin-top: 30px;
    
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
    
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #e21212c4;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;

}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;

}
.tab-contents ul li span{
    color: #2ddf0e ;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
/*----------------services-------------*/
#Services{
    padding: 30px 0;
    background-color: #262626;

}
.Services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;

}
.Services-list div{
    background: black;
    padding: 40px;
    font-size: 18px;
    font-weight: 300;
    border-radius: 16px;
    transition: background 0.5s, transform 0.5s;

}
.Services-list div i{
    font-size:50px;
    margin-bottom: 30px;

}
.Services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;

}
.Services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.Services-list div:hover{
    background: #e21212c4;
    transform: translateY(-10px);
}
/*---------------portfolio------------*/
#portfolio{
    padding: 50px 0;
    background-color: black;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;

}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition:transform 0.5s ;
}
.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.5), #e21212c4);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 17px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
    
}
.layer a{
    margin-top: 500;
    color: #e21212c4;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    width: 60px;
    height: 60px;
    border-radius: 50px;


}
.work:hover img{
    transform: scale(1.1);

}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #e21212c4;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
}
.btn:hover{
    background: #e21212c4;
    transition: 0.5s;
}
/*-------------Contact----------------*/
.contact-left{
flex-basis: 35%;
background-color: #262626;
}
.contact-right{
    flex-basis: 60%;
    }
    .contact-left p{
        margin-top: 30px;

    }
    .contact-left p i{
        color: #e21212c4;
        margin-right: 15px;
        font-size: 25px;
    }
    .social-icons{
        margin-top: 30px;
    }
    .social-icons a{
        text-decoration: none;
        font-size: 30px;
        margin-right: 15px;
        color: #ababab;
        display: inline-block;
        transition: transform 0.5s;
    }
    .social-icons a:hover{
        color: #2ddf0e ;
        transform: translateY(-5px);
    }
    .btn.btn2{
       display: inline-block;
       background: #e21212c4;
    }
    .contact-right form{
        width: 100%;

    }
    form input, form textarea{
        width: 100%;
        border: 0;
        outline: none;
        background: #262626;
        padding: 15px;
        margin: 15px 0;
        color: #fff;
        font-size: 18px;
        border-radius: 6px;
    }
    form .btn2{
        padding: 14px 60px;
        font-size: 18px;
        margin-top: 20px;
        cursor: pointer;
    }
    .copyright{
        width: 100%;
        text-align: center;
        padding: 25px 0;
        background: #262626;
        font-weight: 300;
        margin-top: 20px;
    }
    .copyright i{
        color: #e21212c4;
    }
    img{
        display:center;
        justify-content: center;
        align-items: center;
        width: 10rem;
        transition: 0.4s ease-in-out;
        font-size: 10rem;
        padding-top: 0.2rem;

    }
    img:hover{
        cursor: pointer;
        transform: scale(1.1);
        
    }
    .footer ul li{
        display: inline-block; 
        list-style: none;
        margin:10px 20px;
        padding-bottom: 1rem;
     
     }
    .footer ul li a{
        color:hsl(133, 83%, 36%);
        text-decoration: none;
        font-size: 20px;
        position: relative;
    
    }
    .footer ul li a{
        text-decoration: none;
       display: flex;
       flex-direction:column;
        color: #fff;
        justify-content: center;
        justify-content: space-between;
        position: relative;
    }
    .footer ul li a::after{
        content: '';
        width: 0%;
        height: 3px;
        background: #e21212c4;
        position: absolute;
        left: 0;
        bottom: -6px;
        transition: 0.5s;
    }
    .footer ul li a:hover::after{
        width: 100%;
    }
    /*--------------------css for small screens---------------*/
    nav.fa-solid{
        display:none;
    }
    @media only screen and (max-width: 600px){

    .logo{
        margin-top: 0px;
        margin-bottom: 1px;
        padding-top: 1px;
        padding-bottom: 1px;
    }
    .home-text{
        margin-top: 40%;
        font-size: 12px;

    }
    .home h1{
        font-size: 18px;
        line-height:4px ;
        padding-top: 5px;
        
    }
    nav.fa-solid{
        display:block;
        font-size: 25px;
    }
    nav ul{
        background:#e21212c4;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: 0.5s;
    }
    nav ul li{
        display:block;
        margin: 25px;
    }
    nav ul.fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;

    }
    .sub-title{
        font-size: 40px;
    }
    .about-col-1,.about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left,.contact-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 11px;
    }
    .side-bar{
        width: 100%;
        height: 50px;
        top: 0;
    }

    
    

    }
    #msg{
        color: #61b752;
        margin-top: -40px;
        display: block;
    }
::-webkit-scrollbar{
width: 20px;
}
::-webkit-scrollbar-track{
background-color: #333;
border-radius: 1em;
margin-block: 1em;
}
::-webkit-scrollbar-track:hover{
background: #575757;
}
::-webkit-scrollbar-thumb{
  background: linear-gradient(20deg, rgb(62, 226,
  255),rgb(60, 255,96));
  border-radius: 1em;
  box-shadow: 0 0 25px rgb(54,249, 174);
}
::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(20deg, rgb(204, 17, 17),rgb(73, 214, 30));
}

    

